.index {

    .background-wrapper {
        background-image: url(../img/index-img.jpg);
        background-size: cover;
        background-position: center;
        width: calc(100vw - 6rem);
        height: calc(100vh - 6rem);
        position: relative;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include desk {
            width: 23rem;
            height: 33rem;
        }

        .header {
            width: 10rem;
            display: inline-block;
            float: right;
            transform: translateY(2rem);

            .top-bar__logo {
                width: 100%;
            }
        }

        .navigation {
            position: absolute;
            top: 65%;
            left: 30%;
            transform: translate(-50%, -50%);

            @include desk {
                top: 90%;
                left: 50%;
                width: 36rem;
                text-align: center;
            }

            &__item {
                list-style: none;
                margin-bottom: .2rem;
                border-bottom: 1px solid $color-white;

                @include desk {
                    display: block;
                    border-bottom: none;
                    text-align: left;
                }
            }

            &__link {
                font-size: 3rem;
                color: $color-beige;
                

                @include desk {
                    color: $color-black;
                    border: none;
                    transition: all .5s;
                    
                }
                
            }

            &__link:hover {
                @include desk {
                    color: $color-heading-1;
                    text-shadow: none;
                }
            }


        }

    }

}
