//Colors

$color-heading-1: #5D5D5D;
$color-heading-2: #CBCBCB;
$color-text: #838383;

$color-beige: #EEECEC;
$color-beige-light: #ebebeb;
$color-beige-lighter: #ebebeb;


$color-white: #fff;
$color-black: #000;


//Media query mixin

@mixin desk {
    @media (min-width: 600px) { @content };
}